@import 'helpers/mixins.styl'
@import 'helpers/var.styl'

@import 'base/font.styl'
@import 'base/base.styl'
@import 'base/z-index.styl'

@import 'blocks/loader.styl'

@import 'blocks/grid.styl'
@import 'blocks/section.styl'
@import 'blocks/page-content.styl'
@import 'blocks/btn.styl'
@import 'blocks/form.styl'

@import 'blocks/header.styl'
@import 'blocks/header-row.styl'
@import 'blocks/logo.styl'
@import 'blocks/menu.styl'
@import 'blocks/social.styl'
@import 'blocks/header-slider.styl'

@import 'blocks/main.styl'
@import 'blocks/about.styl'
@import 'blocks/popular.styl'
@import 'blocks/product.styl'
@import 'blocks/collections.styl'
@import 'blocks/catalog.styl'
@import 'blocks/services.styl'

@import 'blocks/team-page.styl'

@import 'blocks/article-page.styl'

@import 'blocks/contacts-page.styl'

@import 'blocks/services-page.styl'

@import 'blocks/catalog-page.styl'
@import 'blocks/filter.styl'
@import 'blocks/pagination.styl'

@import 'blocks/card-page.styl'
@import 'blocks/card.styl'

@import 'blocks/articles-page.styl'
@import 'blocks/article.styl'

@import 'blocks/cart.styl'

@import 'blocks/footer.styl'
