.loader
    z-index 20

.logo
    position relative
    z-index 13

.header
    &__menu
        z-index 1

.menu
    position relative
    z-index 12

    &__bg
        z-index 11

    &__border
        z-index -1

        &_open
            z-index 10

    &__btn
        z-index 14

    &__content
        z-index 13
