.card-page
    &__title
        font-size 28px
        letter-spacing .05em
        text-transform uppercase
        color $gold-color
        margin-bottom 25px

        h2, h3
            font-size inherit
            font-weight 300
            margin-top 0
            margin-bottom 0

    &__columns
        font-weight 300
        font-size 18px
        opacity .8

        @media (min-width 768px)
            column-count 2
