$dark-color = #232326
$dark2-color = #29292d
$dark3-color = #202022
$dark4-color = #1c1c1e
$gold-color = #8f7f6a
$gold2-color = #ad8f68

$turquoise-color = #00d08e
$green-color = #76bb43
$grey-light-color = #dddddd
$grey-color = #b9b9b9
$grey-dark-color = #9ea9b1
